# Ignore Git folder
.git/
.gitignore

# Ignore VS Code settings
.vscode/

# Ignore Dependencies
node_modules/
npm-debug.log

# Ignore Build Output
build/
dist/

# Ignore Secrets
.env
.env.local

# Ignore Docker related
Dockerfile
*.dockerignore
