# Ignore Git folder
.git/
.gitignore

# Ignore VS Code settings
.vscode/

# Ignore Build Output
bin/
obj/
publish/
Debug/
Release/

# Ignore User Secrets & Env
.env
appsettings.Development.json

# Ignore Docker related
Dockerfile
*.dockerignore
