# Ignore Git folder
.git/
.gitignore

# Ignore VS Code settings
.vscode/

# Ignore Dependencies (let Docker install them)
vendor/


# Ignore Secrets
.env

# Ignore Docker related
Dockerfile
*.dockerignore
